<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   <title></title>
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
         <nav class="navbar navbar-dark">
         </nav>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/employees">Atras</a>
               </li>
            </ul>
         </div>
         <span style="float: right; color: white"> <%= email %> </span>  
      </div>
   </nav>
   <% if (empleado) { %>
      <div class="container mt-4">
         <div class="card border-secondary">
            <div class="card-header">Modificar los datos del Empleado</div>
            <div class="card-body">
               <form action='/employees/update' method="POST">
                  <input id="id" name="id" value="<%= empleado.id %>" hidden>
                  <div class="mb-3">
                     <label for="nombre" class="form-label">Nombre</label>
                     <input type="text" class="form-control" id="nombre" name="nombre" value="<%= empleado.nombre %>"
                        tabindex="1">
                  </div>
                  <div class="mb-3">
                     <label for="apellido" class="form-label">Apellido</label>
                     <input type="text" class="form-control" id="apellido" name="apellido"
                        value="<%= empleado.apellido %>" tabindex="1">
                  </div>
                  <div class="mb-3">
                     <label for="idTipoDoc" class="form-label">ID del Tipo de Documento</label>
                     <select value="<%=empleado.id %>" name="idTipoDoc" class="form-select" aria-label="Default select example">
                        <% documentos.forEach((documento)=> { %>
                           <option value="<%=documento.id %>"><%=documento.descripcion%></option>
                          <% }) %>
                      </select>
         
                  </div>
                  <br>
                  <% if (alert) { %>
                     <div class="alert alert-danger" role="alert">
                      <%=error%>
                     </div>
                  <% } %>
                           <button type="submit" class="btn btn-success" tabindex="5">Modificar</button>
                           <a href="/employees" class="btn btn-danger">Cancelar</a>
               </form>
            </div>
         </div>
      </div>
      <% } %>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</body>

</html>


<script>
      
</script>